<div class="wrapper">
        <div class="inner-wrapper">
            <form (submit)="onSubmit($event)">
                <h2>Zatwierdzanie badania</h2>
                <span>Badanie nr {{ data.LabExamination.id }}</span>
                <span>Typ badania: {{ data.LabExamination.type }}</span>
                <h2>Czy potwierdzasz że badanie zostało wykonane poprawnie?</h2>
                <div class="double-input">
                    <span class="flex"></span>
                    <button type="button" mat-raised-button (click)="cancelCommitLabExamination()">Nie</button>
                    <button type="submit" mat-raised-button>Tak</button>
                </div>
            </form>
        </div>
    </div>