<div class="wrapper">
    <div class="inner-wrapper">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtruj">
        </mat-form-field>

        <table mat-table [dataSource]="examinations" matSort>

            <ng-container matColumnDef="examinationName">
                <th mat-header-cell *matHeaderCellDef> Nazwa Badania </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.examinationName}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="result">
                <th mat-header-cell *matHeaderCellDef> Wynik </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.result}} </td>
            </ng-container>

            <ng-container matColumnDef="doctorName">
                <th mat-header-cell *matHeaderCellDef> Imię doktora </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.doctorName}} </td>
            </ng-container>

            <ng-container matColumnDef="doctorLastName">
                <th mat-header-cell *matHeaderCellDef> Nazwisko doktora </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.doctorLastName}} </td>
            </ng-container>

            <ng-container matColumnDef="orderExaminationDate">
                <th mat-header-cell *matHeaderCellDef> Data zamówienia </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.orderExaminationDate | date:"dd/MM/yyyy"}} </td>
            </ng-container>

            <ng-container matColumnDef="executeExaminationDate">
                <th mat-header-cell *matHeaderCellDef> Data wykonania </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.executeExaminationDate | date:"dd/MM/yyyy"}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="labExaminationsDisplayedColumns"></tr>

            <tr mat-row *matRowDef="let row; columns: labExaminationsDisplayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
</div>