<div class="wrapper">
    <div class="inner-wrapper">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <h2>Badanie dla: {{ data.PatientName }} {{ data.PatientLastname }}</h2><br>
            <h2>Wybierz typ badania fizykalnego</h2>
            <mat-form-field>
                <mat-label>Typ badania</mat-label>
                <mat-select formControlName="ExaminationId" required>
                    <mat-option *ngFor="let examType of examTypes" [value]="examType.id">
                        {{examType.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('ExaminationId').hasError('required')">Typ badania jest wymagany</mat-error>
            </mat-form-field>
            <h2>Wprowadź wynik badania</h2>
            <mat-form-field>
                <input matInput placeholder="Wynik badania" formControlName="Result" type="text" required />
                <mat-error *ngIf="form.get('Result').hasError('required')">Wynik badania jest wymagany</mat-error>
            </mat-form-field>
            <div class="double-input">
                <span class="flex"></span>
                <button type="button" mat-raised-button (click)="cancelAddExamination()">Anuluj</button>
                <button type="submit" mat-raised-button>Zapisz</button>
            </div>
        </form>
    </div>
</div>