<div class="wrapper">
    <div class="inner-wrapper">
        <form (submit)="onSubmit($event)">
            <h2>Zaloguj się!</h2>
            <mat-form-field>
                <input matInput placeholder="Login" required/>
                <mat-hint>Errors appear instantly!</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Hasło" type="password" required/>
            </mat-form-field>
            <button type="submit" mat-raised-button>Logowanie</button>
        </form>
    </div>
</div>

