<div class="wrapper">
    <mat-toolbar>
        <span>Super Panel Kontrolny NASA</span>
        <span class="flex"></span>
        <button mat-button (click)="openAddUserDialog()">Dodaj użyszkodnika</button>
        <button mat-raised-button>Zdetonuj sesję</button>
    </mat-toolbar>
    <div class="inner-wrapper">
        <div class="search-box">
            <mat-form-field>
                <input matInput (keyup.enter)="filterResults()" [(ngModel)]="filterCriteria" #searchBar="ngModel" placeholder="Nazwa użytkownika" />
            </mat-form-field>
            <button mat-icon-button (click)="filterResults()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="users.length == 0">
                <h2 matLine>Brak użytkowników</h2>
                <p matLine>Smutna ta przychodnia</p>
            </mat-list-item>
            <mat-list-item *ngFor="let user of users">
                <h2 matLine>{{ user.name }}</h2>
                <p matLine>{{ user.role }}</p>
                <span class="flex"></span>
                <app-list-item-manage [user-id]="user.id"></app-list-item-manage>
            </mat-list-item>
        </mat-list>
    </div>
</div>

