<div class="wrapper">
    <mat-toolbar>
        <span>Super Panel Kontrolny NASA</span>
        <span class="flex"></span>
        <button mat-button (click)="openAddUserDialog()">Dodaj użyszkodnika</button>
        <button mat-raised-button>Zdetonuj sesję</button>
    </mat-toolbar>
    <div class="inner-wrapper">
        <mat-list>
            <mat-form-field matSubheader>
                <input matInput placeholder="Nazwa użytkownika" />
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h2 matLine>Marcinex</h2>
                <p matLine>Lekarz</p>
                <span class="flex"></span>
                <button mat-raised-button [matMenuTriggerFor]="menu">Zarządzaj</button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button (click)="openResetPasswordDialog()" mat-menu-item>Zresetuj hasło</button>
                    <button (click)="openSetExpiryDateDialog()" mat-menu-item>Ustaw datę wygaśnięcia konta</button>
                </mat-menu>
            </mat-list-item>
            <mat-list-item>
                <h2 matLine>Marcinexv2</h2>
                <p matLine>Helikopter Apache</p>
                <span class="flex"></span>
                <button mat-raised-button [matMenuTriggerFor]="menu">Zarządzaj</button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button (click)="openResetPasswordDialog()" mat-menu-item>Zresetuj hasło</button>
                    <button (click)="openSetExpiryDateDialog()" mat-menu-item>Ustaw datę wygaśnięcia konta</button>
                </mat-menu>
            </mat-list-item>
        </mat-list>
    </div>
</div>