<div class="wrapper">
    <mat-toolbar>
        <span>Panel Administratora</span>
        <span class="flex"></span>
        <button mat-button (click)="openAddUserDialog()">Dodaj użytkownika</button>
        <button mat-raised-button>Zdetonuj sesję</button>
    </mat-toolbar>
    <div class="inner-wrapper">
        <h3>Lista użytkowników</h3>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div>
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lp. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa użytkownika </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ konta </th>
                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef><span style="margin-left: 16px;"></span> Akcje </th>
                    <td mat-cell *matCellDef="let user">
                        <app-list-item-manage [user]="user"></app-list-item-manage>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <div id="scroll">
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </div>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>