<div class="wrapper">
    <div class="inner-wrapper">
        <form (submit)="onSubmit($event)">
            <h2>Ustaw nowe hasło</h2>
            <mat-form-field>
                <input matInput placeholder="Hasło" type="password" required />
                <mat-hint>Pamiętaj o ustawieniu mocnego hasła!</mat-hint>
            </mat-form-field>
            <div class="double-input">
                <span class="flex"></span>
                <button mat-raised-button (click)="resetPasswordDialogCancel()">Anuluj</button>
                <button type="submit" mat-raised-button>Zapisz</button>
            </div>
        </form>
    </div>
</div>