<div class="wrapper">
    <div class="inner-wrapper">
        <form (submit)="onSubmit($event)" ngNativeValidate>
            <h2>Ustaw nowe hasło</h2>
            <span>Użytkownik {{ data.user.name }} ({{ data.user.role }})</span>
            <mat-form-field>
                <input matInput placeholder="Hasło" type="new-password" required />
                <mat-hint>Pamiętaj o ustawieniu mocnego hasła!</mat-hint>
            </mat-form-field>
            <div class="double-input">
                <span class="flex"></span>
                <button type="button" mat-raised-button (click)="resetPasswordDialogCancel()">Anuluj</button>
                <button type="submit" mat-raised-button>Zapisz</button>
            </div>
        </form>
    </div>
</div>