<div class="wrapper">
    <mat-toolbar>
        <span>Panel Laboratorium</span>
        <span class="flex"></span>
        <button mat-raised-button (click)="logout()">Zdetonuj sesję</button>
    </mat-toolbar>
    <div class="inner-wrapper">
        <h3>Lista badań</h3>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Lp. </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Komentarz Lekarza </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.docComment}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data zlecenia </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.orderDate}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ badania </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef><span style="margin-left: 16px;"></span> Akcje </th>
                <td class="padd" mat-cell *matCellDef="let LabExamination">
                    <app-list-item-manage [lab-examination]="LabExamination"></app-list-item-manage>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>
</div>