<div class="wrapper">
    <mat-toolbar>
        <span>Panel Kierownika Laboratorium</span>
        <span class="flex"></span>
        <button mat-raised-button (click)="logout()">Wyloguj się</button>
    </mat-toolbar>
    <div class="inner-wrapper">
        <h3>Lista badań</h3>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value, dataSource)" placeholder="Filtruj">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Lp. </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="doctorComment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Komentarz Lekarza </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.doctorComment}} </td>
            </ng-container>

            <ng-container matColumnDef="orderDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data zlecenia </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.orderDate | date:"dd/MM/yyyy"}} </td>
            </ng-container>

            <ng-container matColumnDef="examinationName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ badania </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.examinationName}} </td>
            </ng-container>

            <ng-container matColumnDef="worker">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pracownik </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.worker.name}} {{element.worker.lastname}}</td>
            </ng-container>

            <ng-container matColumnDef="result">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Wynik badania </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.result}} </td>
            </ng-container>

            <ng-container matColumnDef="examinationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data wykonania </th>
                <td class="padd" mat-cell *matCellDef="let element"> {{element.examinationDate | date:"dd/MM/yyyy"}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef><span style="margin-left: 16px;"></span> Akcje </th>
                <td class="padd" mat-cell *matCellDef="let LabExamination">
                    <app-list-item-manage (change)="onChange()" [lab-examination]="LabExamination"></app-list-item-manage>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <app-past-examinations [examinations]="doneLabExaminations" ></app-past-examinations>
</div>