<div class="wrapper">
    <div class="inner-wrapper">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <h2>Anulowanie wizyty</h2>
            <span>Czy na pewno chcesz anulować wizytę nr {{ data.PatientVisitId }}?</span>
            <mat-form-field>
                <input matInput placeholder="Podaj powód" formControlName="Reason" type="text" required />
                <mat-error *ngIf="form.get('Reason').hasError('required')">Wymagane jest podanie powodu anulowania</mat-error>
            </mat-form-field>
            <div class="double-input">
                <span class="flex"></span>
                <button type="button" mat-raised-button (click)="cancelVisitAbort()">Anuluj</button>
                <button type="submit" mat-raised-button>Zapisz</button>
            </div>
        </form>
    </div>
</div>