<div class="wrapper">
    <div class="inner-wrapper">
        <form (submit)="onSubmit($event)" ngNativeValidate>
            <h2>Anulowanie wizyty</h2>
            <span>Czy na pewno chcesz anulować wizytę nr {{ data.id }} pacjenta {{ data.patientName }}?</span>
            <mat-form-field>
                <input matInput placeholder="Podaj powód" type="text" required />
            </mat-form-field>
            <div class="double-input">
                <span class="flex"></span>
                <button type="button" mat-raised-button (click)="cancelVisitAbort()">Anuluj</button>
                <button type="submit" mat-raised-button>Zapisz</button>
            </div>
        </form>
    </div>
</div>