<div class="wrapper">
    <div class="inner-wrapper">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <h2>Ustaw datę wygaśnięcia konta</h2>
            <span>Użytkownik {{ user.login }} ({{ user.role }})</span>
            <mat-form-field>
                <input formControlName="expiryDate" matInput [matDatepicker]="picker" placeholder="Wybierz datę wygaśnięcia konta">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('expiryDate').hasError('required')">Data wygaśnięcia jest wymagana</mat-error>
            </mat-form-field>
            <div class="double-input">
                <span class="flex"></span>
                <button mat-raised-button type="button" (click)="setExpiryDateCancel()">Anuluj</button>
                <button mat-raised-button>Zapisz</button>
            </div>
        </form>
    </div>
</div>