<div class="wrapper">
    <mat-toolbar>
        <span>Panel Recepcji</span>
        <span class="flex"></span>
        <button mat-raised-button (click)="logout()">Zdetonuj sesję</button>
    </mat-toolbar>
    <div class="inner-wrapper">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <h2>Tworzenie nowej wizyty</h2>
            <br>
            <span>Wybierz pacjenta</span>
            <mat-form-field>
                <mat-select [disableOptionCentering]="true" #select1 placeholder="Pacjent" formControlName="Patient" required>
                    <mat-select-filter *ngIf="select1.focused" [array]="patients"
                        (filteredReturn)="filteredList1 =$event" [displayMember]="'viewValue'"></mat-select-filter>
                    <mat-option *ngFor="let item of filteredList1" [value]="item">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('Patient').hasError('required')">Należy wybrać pacjenta</mat-error>
            </mat-form-field>
            <br>
            <span>Pacjent nie znajduje się na liście?</span>
            <div class="single-input">
                <button mat-raised-button type="button" (click)="openAddPatientDialog()">Dodaj pacjenta</button>
            </div>
            <br>
            <span>Wybierz lekarza</span>
            <mat-form-field>
                <mat-select [disableOptionCentering]="true" #select2 placeholder="Lekarz" formControlName="Doctor" required>
                    <mat-select-filter *ngIf="select2.focused" [array]="doctors"
                        (filteredReturn)="filteredList2 =$event" [displayMember]="'viewValue'"></mat-select-filter>
                    <mat-option *ngFor="let item of filteredList2" [value]="item">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('Doctor').hasError('required')">Należy wybrać lekarza</mat-error>
            </mat-form-field>
            <div class="double-input">
                <span class="flex"></span>
                <button type="button" mat-raised-button [routerLink]="'/recepcja'">Anuluj</button>
                <button type="submit" mat-raised-button>Dodaj wizytę</button>
            </div>
        </form>
    </div>
</div>